[submodule "docs"]
	path = docs
	url = git@github.com:buildlyio/docs.git
[submodule "django-service-wizard"]
	path = django-service-wizard
	url = git@github.com:buildlyio/django-service-wizard.git
[submodule "rails-service-wizard"]
	path = rails-service-wizard
	url = https://github.com/msradam/rails-service-wizard
[submodule "express-service-wizard"]
	path = express-service-wizard
	url = https://github.com/msradam/express-service-wizard
